video {
  position: absolute;
  top: 0;
}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-family: sans-serif;
}

#menu {
  position: absolute;
  top: 50%;
  left: 80px;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  pointer-events: none;
}

@media (max-height: 500px) and (orientation: landscape), (max-width: 500px) and (orientation: portrait) {
  #menu {
    left: 60px;
  }
}

#menu #menu-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
  pointer-events: auto;
  -webkit-box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
  z-index: 99;
}

@media (max-height: 500px) and (orientation: landscape), (max-width: 500px) and (orientation: portrait) {
  #menu #menu-button {
    width: 40px;
    height: 40px;
  }
}

#menu #menu-button img {
  height: 50%;
  width: auto;
}

#menu #menu-button.is-hover {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
          transform: translateX(-50%) translateY(-50%) scale(1.2);
}

#menu .menu-items-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#menu .menu-items-container .menu-item {
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}

#menu .menu-items-container .menu-item .menu-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: white;
  opacity: 0;
}

#menu .menu-items-container .menu-item .menu-title {
  width: 200px;
  position: absolute;
  white-space: pre-wrap;
  top: 50%;
  font-size: 16px;
  line-height: 1.4;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.2);
  padding: 10px 0;
  color: #BBBBBB;
}

#menu .menu-items-container .menu-item .menu-title img {
  height: 1em;
  width: auto;
  opacity: 0.6;
}

@media (max-height: 500px) and (orientation: landscape), (max-width: 500px) and (orientation: portrait) {
  #menu .menu-items-container .menu-item .menu-title {
    font-size: 12px;
    width: 130px;
  }
}

#menu .menu-items-container .menu-item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#menu .menu-items-container .menu-item:hover .menu-title {
  color: white;
}

#menu .menu-items-container .menu-item:hover .menu-title img {
  opacity: 1;
}

#menu .menu-items-container .menu-item.is-selected .menu-fill {
  opacity: 1;
}

#menu .menu-items-container canvas {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#menu.is-visible {
  pointer-events: auto;
}

#menu.is-visible .menu-items-container {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

#menu.is-visible .menu-items-container .menu-item {
  opacity: 1;
  pointer-events: auto;
}

#info {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  right: 50px;
  width: 300px;
  height: 440px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.2);
  padding: 30px 20px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 1.2s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 1.2s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, opacity 1.2s ease-in-out;
  transition: transform 0.8s ease-in-out, opacity 1.2s ease-in-out, -webkit-transform 0.8s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-height: 500px) and (orientation: landscape), (max-width: 500px) and (orientation: portrait) {
  #info {
    padding: 20px;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  #info {
    font-size: 12px;
    width: 200px;
    height: 280px;
    right: 40px;
  }
}

@media (max-width: 500px) and (orientation: portrait) {
  #info {
    font-size: 14px;
    width: 250px;
    height: 380px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(150%);
            transform: translateX(-50%) translateY(150%);
  }
}

#info p {
  white-space: pre-wrap;
}

#info .info-title {
  font-size: 1.2em;
  text-align: center;
  white-space: pre-wrap;
}

#info .close-button {
  position: absolute;
  top: 11px;
  right: 11px;
  cursor: pointer;
}

#info .close-button img {
  height: 2em;
  width: auto;
}

#info.is-visible {
  pointer-events: unset;
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 500px) and (orientation: portrait) {
  #info.is-visible {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}
/*# sourceMappingURL=mobile.css.map */